.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  gap: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #00000091;
}

.card:hover{
  cursor: pointer;
  background-color:rgba(235, 232, 232, 0.452);
}

.card_image {
  height: 150px;
  width: 150px;
  padding: 20px;
}

.card_about{
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
  flex-direction: column;
  margin: 20px;
}

.card_about h4 {
  font-size: 24px;
  margin-bottom: 5px;
}

.card_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .card{
    flex-direction: column;
    gap: 0;
  }
}