.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

.card:hover{
  cursor: pointer;
  background-color:rgba(173, 187, 186, 0.452)
}

.card_image {
  border: 1px solid gray;
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin: 5px 0px;
  margin-right: 15px;
}

.card_about h4 {
  margin-bottom: 5px;
}

.card_image img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
