.headerContainer{
    display: block;
    text-align: center;
    font-family: system-ui;
    font-weight: 400;
    margin-bottom: 0.8rem;
}
.logo{
    margin: 0 6rem;
    padding: 0.5rem 0;
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: inset 20px 20px 60px #262626,
                inset -20px -20px 60px #343434;
}
.logo a {
    background-color: transparent;
    text-decoration: none;

}
.logo img{
    background-color: transparent;
    margin-top: 10px;
    width: 40px;
}
